.header {
    margin: 25px;
}
.nav.black {
    background-color: #000000;
}
.container {
    margin: 25px;
}
.main {
    margin: 25px;
    font-size: 500%;
    font-weight: bold;
}
.brand.link {
    color: #ffffff;
    font-weight: normal;
    font-size: large;
}
.brand.day {
    color: #ff0000;
    font-weight: normal;
    font-size: small;
}
.footer {
    margin: 25px;
    font-size: small;
}
.schedule {
    width: 100%;
    table-layout: fixed;
}
.schedulePrio {
    width: 5%;
    min-width: 10px;
}
.scheduleTitle {
    width: 35%;
    min-width: 50px;
}
.scheduleLink {
    width: 5%;
    min-width: 10px;
}
.scheduleBookedEvent {
    width: 10%;
    min-width: 15px;
}
.scheduleLocation {
    width: 30%;
    min-width: 50px;
}
.scheduleUnbookButton {
    width: 15%;
    min-width: 20px;
}
.scheduleCalenderButton {
    width: 15%;
    min-width: 20px;
}
