<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BerlinAPPle 2024</title>
    <link href="../static/css/picnic.min.css" th:href="@{css/picnic.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/main.css"       th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
</head>

<body>
    <div class="header" th:fragment="bodyHeader(days)">
        <nav class="nav black">
            <a href="/" th:href="@{/}" class="brand link">
                <span>Home</span>
            </a>
            <a href="allMovies" th:href="@{/allMovies}" class="brand link">
                <span>Program</span>
            </a>
            <a href="bookableMovies" th:href="@{/bookableMovies}" class="brand link">
                <span>Bookable Movies</span>
            </a>
            <a href="bookedMovies" th:href="@{/bookedMovies}" class="brand link">
                <span>Schedule</span>
            </a>

            &nbsp;
            &nbsp;
            &nbsp;

            <td:block th:each="day : ${days}">
                <a th:href="@{''(filterDay=${day})}" class="brand day">
                    <td th:text="${day.toString()}" class="brand day"/>
                </a>
            </td:block>
        </nav>
        <br>
    </div>
<hr>
&nbsp;
<br>
</body>
</html>
