<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BerlinAPPle 2020</title>
    <link href="../static/css/picnic.min.css" th:href="@{css/picnic.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/main.css"       th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
</head>

<body>
    <div th:fragment="bodyHeader">
        <nav>
            <a href="/" th:href="@{/}" class="brand">
                <span>Home</span>
            </a>
            <a href="allMovies" th:href="@{/allMovies}" class="brand">
                <span>The Program</span>
            </a>
            <a href="bookableMovies" th:href="@{/bookableMovies}" class="brand">
                <span>Bookable Movies</span>
            </a>
            <a href="bookedMovies" th:href="@{/bookedMovies}" class="brand">
                <span>Our Schedule</span>
            </a>
        </nav>
        <br/>
        <br/>
    </div>
<hr>
</body>
</html>
