<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.thymeleaf.org" lang="de">
<head>
    <title>BerlinAPPle Program</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/vendor/picnic.min.css"
          th:href="@{css/vendor/picnic.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/app/main.css"
          th:href="@{css/app/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader(${ days })"/>

<! -- ========================================================================================================== -->

<div class="container" th:if="${#lists.isEmpty(movies)}">
    <h1>Program is empty
        <th:block th:if="${filterDay}!=null"> on <th:block th:text="${filterDay}"/></th:block>
    </h1>
</div>

<div class="container" th:if="${not #lists.isEmpty(movies)}">
    <h1>Program contains <th:block th:text="${movies.size()}"/> Movies
        <th:block th:if="${filterDay}!=null"> on <th:block th:text="${filterDay}"/></th:block>
    </h1>
    <table class="movieList">
        <tr>
            <th class="moviePrio">Prio</th>
            <th class="movieTitleLong">Title</th>
            <th class="movieLink">Link</th>
            <th class="events">Events</th>
            <th class="available">Available</th>
            <th class="booked">Booked?</th>
        </tr>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.prio}"></td>
            <td>
                <a th:href="@{movie/{id}(id=${movie.id})}"><th:block th:text="${movie.title}"/></a>
            </td>
            <td th:if="${movie.url != null}">
                <a th:href="${movie.url}" target="_blank">Link</a>
            </td>
            <td th:text="${movie.events.size()}"></td>
            <td th:text="${movie.numberOfEventsAvailable()}"></td>
            <td th:if="${movie.booked}">
                yes
            </td>
            <td th:unless="${movie.booked}">
                &nbsp;
            </td>
            <td><a th:href="@{movie/{id}(id=${movie.id})}">Details</a></td>
        </tr>
    </table>
</div>
</body>
</html>
