<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>BerlinAPPle Schedule</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/vendor/picnic.min.css"
          th:href="@{css/vendor/picnic.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/app/main.css"
          th:href="@{css/app/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader(${ days })"/>

<div class="container" th:if="${#lists.isEmpty(bookedMoviesPerDay)}">
    <h1>Our Schedule ... is still empty!</h1>
</div>

<div class="container" th:if="${not #lists.isEmpty(bookedMoviesPerDay)}">
    <h1>Our Schedule - with all our <th:block th:text="${totalBookings}"/> Bookings</h1>

    <th:block th:each="movieListOfDay : ${bookedMoviesPerDay}">
        <th:block th:if="${not #lists.isEmpty(movieListOfDay)}">

           <h3><th:block th:text="${movieListOfDay.size()}"/>
               Bookings for <th:block th:text="${movieListOfDay.get(0).getBookedOrBookmarkedEvent().getBookingDay()}">
           </th:block></h3>
           <table class="schedule">
                <tr>
                    <th class="schedulePrio">Prio</th>
                    <th class="scheduleTitle">Title</th>
                    <th class="scheduleLink">Link</th>
                    <th class="scheduleBookedEvent">Booked Event</th>
                    <th class="scheduleLocation">Location</th>
                </tr>
                <tr th:each="movie : ${movieListOfDay}" >
                    <td th:text="${movie.prio}"></td>
                    <td th:text="${movie.title}"></td>
                    <td th:if="${movie.url != null}">
                        <a th:href="${movie.url}" target="_blank">Link</a>
                    </td>
                    <td th:text="${movie.getBookedOrBookmarkedEvent().printBookingTime()}"></td>
                    <td>
                        <a th:href="${movie.getBookedOrBookmarkedEvent().location.url}" target="_blank">
                            <th:block th:text="${movie.getBookedOrBookmarkedEvent().location.toStringWithAddress()}"/>
                        </a>
                    </td>

                    <td th:if="${movie.booked}" class="scheduleUnbookButton">
                        <form action="unbookMovie" autocomplete="off" method="post">
                            <input type="hidden" name="movieId" id="movieId" required="required" th:value="${movie.id}" class="readonly" />
                            <input type="submit" value="unbook"/>
                        </form>
                    </td>

                    <td th:if="${movie.bookmarked}" class="scheduleUnbookmarkButton">
                        <form action="unbookmarkMovie" autocomplete="off" method="post">
                            <input type="hidden" name="movieId" id="movieId" required="required" th:value="${movie.id}" class="readonly" />
                            <input type="submit" value="unbookmark"/>
                        </form>
                    </td>

                    <td class="scheduleCalendarButton">
                        <form action="calendar" autocomplete="off" method="get">
                            <input type="hidden" name="movieId" id="movieId1" required="required" th:value="${movie.id}" class="readonly" />
                            <input type="submit" value="Calendar"/>
                        </form>
                    </td>

                </tr>
            </table>
            &nbsp;
            &nbsp;
            &nbsp;
        </th:block>
    </th:block>
</div>
</body>
</html>
