<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>BerlinAPPle 2020 Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/vendor/picnic.min.css"
          th:href="@{css/vendor/picnic.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/app/main.css"
          th:href="@{css/app/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div th:include="fragments/bodyHeader :: bodyHeader"/>

<div class="container">
    <p><a href="allMovies">Program - The complete List of Movies</a></p>
    <p><a href="bookableMovies">Bookings - The List of Bookable Movies/Events</a></p>
    <p><a href="bookedMovies">Our Schedule - Our Booked Movies/Events</a></p>
</div>

</body>
</html>
