<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>BerlinAPPle 2025</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/vendor/picnic.min.css"
          th:href="@{css/vendor/picnic.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/app/main.css"
          th:href="@{css/app/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader(${ days })"/>

<div class="BAmain">
    <table>
        <td>
            BerlinAPPle<br>
            2025
        </td>
        <td><img src="logo-berlinale.png" width="125%" height="125%"></td>
    </table>
</div>

<hr>
<div class="BAfooter">
    Version <th:block th:text="${buildVersion}"/>, built on <th:block th:text="${buildDate}"/>
</div>

</body>
</html>
