<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>BerlinAPPle Movie Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/vendor/picnic.min.css"
          th:href="@{../css/vendor/picnic.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/app/main.css"
          th:href="@{../css/app/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader(${ days })"/>

<div class="container" th:if="${movie != null}">
    <h2>Movie Details (and all its <th:block th:text="${movie.getSortedEvents().size()}"/> Events)</h2>
    <table>
        <tr>
            <th>Movie ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
            <th>Prio</th>
        </tr>
        <tr>
            <td th:text="${movie.id}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.description}"></td>
            <td th:if="${movie.url != null}">
                <a th:href="${movie.url}" target="_blank">Link</a>
            </td>
            <td th:text="${movie.prio}"></td>
            <td>
                <form action="changePrio" autocomplete="off" method="post">
                    <input type="hidden" name="id" id="id" required="required" th:value="${movie.id}" class="readonly" />
                    <input type="text" name="prio" id="prio" required="required" class="readonly"
                           style="width: 150px;" pattern="[0-9]+"/>
                    <input type="submit" value="Set prio"/>
                </form>
            </td>

        </tr>
   </table>

<hr>

   <table>
        <tr>
            <th>Event ID</th>
            <th>From</th>
            <th>To</th>
            <th>Location</th>
        </tr>
       <tr th:each="event : ${movie.getSortedEvents()}">
           <td th:text="${event.id}"></td>

           <td th:text="${event.printBeginDateTime()}"></td>
           <td th:text="${event.printEndDateTime()}"></td>

           <td><a th:href="${event.location.url}" target="_blank">
               <th:block th:text="${event.location.toStringWithAddress()}"/>
           </a></td>

           <td th:if="${event.available}">
               <form action="bookEvent" autocomplete="off" method="post">
                   <input type="hidden" name="movieId" id="movieId" required="required" th:value="${movie.id}" class="readonly" />
                   <input type="hidden" name="eventId" id="eventId" required="required" th:value="${event.id}" class="readonly" />
                   <input type="submit" value="book"/>
               </form>
           </td>
           <td th:if="${event.booked}">
               <i>booked!</i>
           </td>
           <td th:if="${event.unavailable}">
               <i>unavailable!</i>
           </td>
       </tr>
   </table>
</div>
</body>
</html>
