<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>BerlinAPPle Movie Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/vendor/picnic.min.css"
          th:href="@{../css/vendor/picnic.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/app/main.css"
          th:href="@{../css/app/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader(${ days })"/>

<div class="container" th:if="${movie != null}">
    <h1><th:block th:text="${movie.title}"/></h1>
    <table class="movieDetails">
        <tr>
            <th class="movieID">Movie ID</th>
            <th class="movieDescription">Description</th>
            <th class="movieLink">Link</th>
            <th class="moviePrio">Prio</th>
        </tr>
        <tr>
            <td th:text="${movie.id}"></td>
            <td th:text="${movie.description}"></td>
            <td th:if="${movie.url != null}">
                <a th:href="${movie.url}" target="_blank">Link</a>
            </td>
            <td th:text="${movie.prio}"></td>
            <td>
                <form action="changePrio" autocomplete="off" method="post">
                    <input type="hidden" name="id"  id="id"    required="required" th:value="${movie.id}" class="readonly" />
                    <input type="text"   name="prio" id="prio" required="required" maxlength="2" class="readonly" style="width: 50px;" pattern="[0-9]+"/>
                    <input type="submit" value="set prio" class="BAbutton"/>
                </form>
            </td>

        </tr>
   </table>

<hr>

   <table class="bookedEventDetails">
        <tr>
            <th class="eventID">Event ID</th>
            <th class="eventFromTo">From</th>
            <th class="eventFromTo">To</th>
            <th class="eventLocation">Location</th>
            <th class="eventStatus">Status</th>
        </tr>
       <tr th:each="event : ${movie.getSortedEvents()}">
           <td th:text="${event.id}"></td>

           <td th:text="${event.printBeginDateTime()}"></td>
           <td th:text="${event.printEndDateTime()}"></td>

           <td><a th:href="${event.location.url}" target="_blank">
               <th:block th:text="${event.location.toStringWithAddress()}"/>
           </a></td>

           <td th:switch="true">
               <p th:case="${event.bookmarked}">bookmarked</p>
               <p th:if="${event.booked}">booked</p>
               <p th:if="${event.unavailable}">unavailable!</p>
               <p th:if="${event.potentiallyUnavailable}">potentially unavailable!</p>
           </td>

           <td th:if="${event.available} or ${event.bookmarked}">
               <form action="/movie/bookEvent" autocomplete="off" method="post">
                   <input type="hidden" name="movieId" id="movieId1a" required="required" th:value="${movie.id}" class="readonly" />
                   <input type="hidden" name="eventId" id="eventId1a" required="required" th:value="${event.id}" class="readonly" />
                   <input type="submit" value="book"  class="BAbutton"/>
               </form>
           </td>
           <td th:if="${event.unavailable} and (not (${movie.booked} or ${movie.bookmarked}))">
               <form action="/movie/bookEvent" autocomplete="off" method="post">
                   <input type="hidden" name="movieId" id="movieId1b" required="required" th:value="${movie.id}" class="readonly" />
                   <input type="hidden" name="eventId" id="eventId1b" required="required" th:value="${event.id}" class="readonly" />
                   <input type="submit" value="force book" class="BAbutton red"/>
               </form>
           </td>
           <td th:if="${event.booked}">
               <form action="/movie/unbookEvent" autocomplete="off" method="post">
                   <input type="hidden" name="movieId" id="movieId2" required="required" th:value="${movie.id}" class="readonly" />
                   <input type="hidden" name="eventId" id="eventId2" required="required" th:value="${event.id}" class="readonly" />
                   <input type="submit" value="unbook"  class="BAbutton"/>
               </form>
           </td>

           <td th:if="${event.available}">
               <form action="/movie/bookmarkEvent" autocomplete="off" method="post">
                   <input type="hidden" name="movieId" id="movieId3" required="required" th:value="${movie.id}" class="readonly" />
                   <input type="hidden" name="eventId" id="eventId3" required="required" th:value="${event.id}" class="readonly" />
                   <input type="submit" value="bookmark" class="BAbutton"/>
               </form>
           </td>
           <td th:if="${event.bookmarked}">
               <form action="/movie/unbookmarkEvent" autocomplete="off" method="post">
                   <input type="hidden" name="movieId" id="movieId4" required="required" th:value="${movie.id}" class="readonly" />
                   <input type="hidden" name="eventId" id="eventId4" required="required" th:value="${event.id}" class="readonly" />
                   <input type="submit" value="unbookmark"  class="BAbutton"/>
               </form>
           </td>
       </tr>
   </table>
</div>
</body>
</html>
